<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sidebar {
            min-height: 100vh;
            position: sticky;
            top: 0;
        }
        .sidebar-content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .menu-items {
            flex: 1;
        }
        .user-dropdown {
            margin-top: auto;
            padding-bottom: 1rem;
        }
        img {
            width: 50px;
            margin: 0px;
        }

    </style>
</head>
<body>
<div class="row">
    <!-- Левая панель -->
    <div class="col-2 sidebar text-bg-secondary p-0">
        <div class="sidebar-content">
            <!-- Заголовок меню -->
            <div class="p-3 ms-2 mt-4">
                <h3>Меню</h3>
            </div>

            <!-- Кнопки меню -->
            <div class="menu-items px-3">
                <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-primary text-start">
                        🏠︎ Главная
                    </button>
                    <button type="button" class="btn btn-secondary text-start">
                        ⇈ Категории
                    </button>
                    <button type="button" class="btn btn-secondary text-start">
                        ❒ Заказы
                    </button>
                    <button type="button" class="btn btn-secondary text-start">
                        ☏ Контакты
                    </button>
                </div>
            </div>

            <!-- Dropdown пользователя внизу -->
            <div class="user-dropdown px-3">
                <div class="dropdown">

                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://avatars.mds.yandex.net/i?id=bf0845f6e13488c89d52095acd2e5bf2_l-4840969-images-thumbs&n=13" class="rounded-circle">
                        Пользователь
                    </button>
                    <ul class="dropdown-menu w-100">
                        <li><button class="dropdown-item" type="button">Профиль</button></li>
                        <li><button class="dropdown-item" type="button">Выход</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Основное содержимое -->
    <div class="col-10">
        <div class="container-fluid px-4">
        <h1>
            <p class="text-center">
              <br>
              <br>
              Контакты
            </p>
        </h1>

        <div class="row mt-5 justify-content-center align-items-start">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="/contacts">
                            <p class="text-start fw-semibold">Имя</p>
                            <div class="mb-3 mt-2">
                                <input type="text" class="form-control" name="name" placeholder="Имя" required>
                            </div>
                            <p class="text-start fw-semibold">Почта</p>
                            <div class="input-group flex-nowrap">
                              <span class="input-group-text" id="addon-wrapping">@</span>
                              <input type="email" class="form-control" name="email" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>

                            <div class="mb-3 mt-2">
                              <p class="text-start fw-semibold">Сообщение</p>
                                <textarea class="form-control" name="message" placeholder="Сообщение" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary w-40">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">

              <h3>
                <p class="text-start ms-5">Наши контакты</p>
              </h3>

              <p class="text-start ms-5 fw-semibold fs-5">
                Netflix is a streaming service that offers
                a wide variety of award-winning TV shows, movies, anime,
                documentaries, and more on thousands of internet-connected devices. <br>
                You can watch as much as you want, whenever you want
                without a single commercial – all for one low monthly price.
                There's always something new to discover and new TV shows
                and movies are added every week!
              </p>
            </div>

        </div>
    </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>